/*SCENE 4*/
#scene4 {
    width: 960px;
    height: 771px;
    cursor: url(images/dustbin_finger.png);
}


#cupboard {
    height: 165px;
    position: absolute;
    top: 590px;
    left: 373px
}

#stone {
    height: 195px;
    position: absolute;
    top: 580px;
    left: 800px;

}

#dustbin {
    height: 178px;
    position: absolute;
    top: 593px;
    left: 65px;
}

#scene4text {
    position: absolute;
    top: 200px;
    left: 150px;
}

#scene4BT {
    height: 260px;
    position: absolute;
    top: 510px;
    left: 450px;
}

.glow:hover {
    cursor: url(images/dustbin_fingerGlow.png), auto;
    -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 238, 1, 0.8));
}
